html, body {
    height: 100%;
    width: 100%;
    background: #9c27b0;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: white;
}

html, body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.container {
    padding-top: 80px;
    width: 90%;
    max-width: 500px;
    margin: 20px auto 0;
}

.title.bar {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

h1 {
    display: inline-block;
    font-weight: 100;
    font-size: 3em;
    margin: 0;
}

.actions {
    float: right;
    list-style: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.actions li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: 20px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 1em;
    border: 1px solid white;
    border-radius: 2px;
}

a:hover {
    text-decoration: none;
    color:white;
    cursor: pointer;
}

.before.grid p {
    margin-bottom: 20px;
}

.container, .panel, .grid {
    overflow: auto;
}

.panel {
    position: relative;
}

.cell {
    height: 20%;
    width: 20%;
    background: white;
    color: #9c27b0;
    display: block;
    padding: 10%;
    box-sizing: border-box;
    float: left;
    position: relative;
}

.cell:first-child, .cell:nth-child(5n + 1) {
    clear: left;
}

.cell span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4px;
    border: 1px solid #9c27b0;
    font-weight: 700;
}

.cell.highlighted, .cell.selected {
    background: #68efad;
}